{
  "swagger": "2.0",
  "info": {
    "title": "DNA Playground",
    "description": "Upload a DNA sequence. See what happens!",
    "version": "1.0.0"
  },
  "host": "3000-beige-salmon-xzm6vc5n.ws-eu11.gitpod.io",
  "basePath": "/",
  "tags": [],
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/dna/": {
      "get": {
        "tags": [],
        "summary": "Get all the DNA sequences",
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "tags": [],
        "summary": "Save a new DNA Sequence on the server",
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "seq": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/dna/filter": {
      "post": {
        "tags": [],
        "summary": "Get all the DNA sequences based on some filter",
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "filter": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/dna/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a DNA Sequence by id",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/api/scoring/": {
      "get": {
        "tags": [],
        "summary": "Get all the scores",
        "description": "",
        "parameters": [],
        "responses": {}
      },
      "post": {
        "tags": [],
        "summary": "Score a sequence by it",
        "description": "",
        "parameters": [
          {
            "name": "obj",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sequenceId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/api/scoring/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a score by job id",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "definitions": {}
}